.combo-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 20px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  &_light {
    color: @color-blue;
    background-color: @color-white;
  }

  &_dark {
    color: @color-white;
    background-color: @color-blue;
  }
}

.combo-box__title {
  display: none;

  max-width: 280px;
  padding-top: 100px;
  padding-bottom: 40px;

  font-size: 40px;
  line-height: 1;
}

.combo-box__button,
.combo-box__notation,
.combo-box__links {
  max-width: 280px;
  padding: 15px 20px;
}

@media (min-width: @tablet-width) {
  .combo-box {
    background: none;
  }

  .combo-box__title {
    display: block;
  }

  .combo-box__button,
  .combo-box__notation,
  .combo-box__links {
    max-width: 300px;
  }

}
