.combo-box {
  padding-top: 15px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;

  &_light {
    color: @color-blue;
    background-color: @color-white;
  }

  &_dark {
    color: @color-white;
    background-color: @color-blue;
  }
}

.combo-box__links {
  padding: 15px 20px;
}

.combo-box__button,
.combo-box__notation,
.combo-box__copyright {
  padding: 15px 20px;
}

.combo-box__copyright {
  font-weight: normal;
  line-height: 1.3;
}
