.footer {
  margin: 15px auto;

  font-weight: 300;
  text-align: center;

  &_dark {
    color: @color-white;
    background-color: @color-blue;
  }

  &_hidden-mobile {
    display: none;
  }
}

.footer__button,
.footer__copyright,
.footer__links {
  max-width: 280px;
  margin: 15px 20px;
  width: 100%;
}

.footer__logo-picture {
  display: block;
  width: 150px;
  height: 40px;
}

.footer__copyright {
  font-weight: normal;
  line-height: 1.3;
}

.footer__developer-link {
  display: block;
  position: relative;

  padding-top: 3px;
  padding-right: 30px;
  padding-bottom: 15px;

  font-size: 14px;
  line-height: 1.3;
  color: @color-blue;
  text-decoration: none;
}

.footer__developer-logo {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 27px;
  height: 34px;
}

.footer__developer-logo path {
  fill: @color-red;
}

@media (min-width: @tablet-min) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: @tablet-width-content;

    &_main {
      display: flex;
      max-width: @tablet-min;
    }
  }
}

@media (min-width: @desktop-min) {
  .footer__button,
  .footer__copyright,
  .footer__links {
    max-width: 300px;
  }

  .footer__developer-link {
    font-size: 18px;
  }
}
