.header {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: @color-white;
  text-transform: uppercase;

  background-color: @color-blue;
}

.header__menu-list {
  border: none;
}

.header__menu-item {
  text-decoration: none;

  &:visited {
    color: @color-white;
  }
}

.header__logo {
  background-color: @color-blue;
}

.header__button-menu {
  &_close {
    border: none;
  }

  &_burger {
    border: none;
  }
}
