.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  padding: 23px 18px;

  background-color: @color-grey;
}

.post__caption,
.post__text,
.post__likes {
  display: block;
  padding: 0;
  margin: 0;
}

.post__text {
  flex-grow: 1;
  margin-bottom: 10px;
}

.post__likes {
  color: @color-red;
  text-transform: uppercase;
}

.post__author {
  font-weight: bold;
}

.post__time {
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: @tablet-min) {
  .post__likes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
