.profits {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: @color-blue;

  background-color: @color-grey;
}

.profits__items {
  max-width: 280px;
  padding: 20px 0;
}

.profits__item {
  border: none;
}

.profits__title {
  font-weight: bold;
  font-size: 18px;
  color: @color-black;
  padding-bottom: 0;
}

.profits__text-box {
  padding-top: 0;
  padding-bottom: 20px;
}

.profits__footer {
  border: none;
}

.profits__picture {
  display: block;
  width: 160px;
  height: 275px;
}

@media (min-width: @tablet-width) {
  .profits {
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: left;
  }

  .profits__items {
    max-width: 310px;
  }

  .profits__picture {
    width: 265px;
    height: 480px;
  }
}
